/* Style for the table */
table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 20px; /* Add spacing between table cells */
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px; /* Increase padding to increase spacing */
    font-size: 16px; /* Increase font size */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Button styles */
.book-now-button,
.login-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px; /* Decrease padding to make the button smaller */
    text-align: center;
    text-decoration: none;
    display: block; /* Change display to block */
    margin: 0 auto; /* Center the button horizontally */
    font-size: 12px; /* Decrease font size */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect */
.book-now-button:hover,
.login-button:hover {
    background-color: #45a049; /* Darker green */
}

/* Disabled button style */
.login-button[disabled] {
    background-color: #cccccc; /* Light gray */
    color: #666666; /* Darker text color */
    cursor: not-allowed; /* Cursor indicating the button is disabled */
}

/* Add this CSS to center the button within the table cell */
td button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
}

/*Start of the Header*/
header {
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .logo img {
    height: 50px;
    margin-right: 15px;
  }
  
  .title h1 {
    font-size: 26px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    justify-content: left;
    width: 300px;
    font-family: 'Poppins', sans-serif; /* Use the Poppins font */
    font-weight: 500; /* Adjust font weight as needed */
  }
  
  nav {
    max-width: 1400px; /* Adjust the max-width value as needed */
    width: 100%;
    padding: 2.6rem 1.5rem; /* Increase the padding to add more space */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Adjust the font size as needed */
    display: flex;
    margin-left: auto; /* Align the nav ul content to the right */
  }
  
  nav ul li:not(:last-child) {
    margin-right: 5px; /* Add margin between list items */
  }
  
  nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  
  /* Add this to style the dropdown button */
  nav .dropdown .dropbtn {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer; /* Change cursor to pointer */
  }
  
  nav .dropdown .dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
  }
  
  .dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* Background color of the dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    /* Adjust the height as needed */
    max-height: 200px; /* Example height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
  }
  
  
  .dropdown-content a {
    color: white;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dropdown.active .dropdown-content {
    display: block;
  }
  .dropdown-content a.logout {
    color: red; /* Color for logout link */
  }
  /*End of the Header*/

  main {
    padding: 20px;
    margin-top: 110px; /* Adjust this value to create space between header and main content */
}
footer {
    text-align: center;
}
